<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Simple Pages</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/icono/1.3.0/icono.min.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  <script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.js"></script>
  <script src="https://cdn.bootcss.com/marked/0.3.12/marked.js"></script>
  <script src="https://cdn.bootcss.com/mustache.js/2.3.0/mustache.js"></script>
  <script src="https://cdn.bootcss.com/github-api/3.0.0/GitHub.bundle.js"></script>
  <script src="gh_blog.js"></script>
</head>

<body>
  <div id="app">
    <login-page v-if="ghBlog === null" @success="loginSuccess"></login-page>
    <main-page v-else :gh-blog-in="ghBlog" class="full-viewport"></main-page>
  </div>

  <template id="templ-login-page">
    <div class="panel panel-default login-panel">
      <div class="panel-body">
        <form>
          <labeled-input
            id="login-username" label="Github username" type="text"
            v-model="username" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="login-password" label="Password" type="password"
            v-model="password" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="login-repo" label="Repository" type="text" placeholder="example.github.io"
            v-model="repo" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="login-branch" label="Branch" type="text"
            v-model="branch" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <button
            type="submit" class="btn btn-primary"
            @click.prevent="login" :disabled="logining"
          >
            Login
          </button>
          <span v-if="logining" class="icono-reset spin"></span>
        </form>
        <p>
          <div v-if="errorMsg !== null" class="alert alert-danger" v-text="errorMsg"></div>
        </p>
      </div>
    </div>
  </template>

  <template id="templ-main-page">
    <div class="container-fluid">
      <div class="row full-height">
        <form class="col-xs-2 full-height">
          <labeled-input
            id="article-name" label="Filename" type="text" placeholder="name.html"
            v-model="curArticle.name" :readonly="waiting" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="article-title" label="Title" type="text"
            v-model="curArticle.title" :readonly="waiting" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="article-pubtime" label="Publish Time" type="text"
            v-model="curArticle.isoPubtime" :readonly="waiting" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="article-tags" label="Tags" type="text"
            v-model="strTags" :readonly="waiting" @checker="addChecker"
          ></labeled-input>
          <button
            type="button" class="btn btn-default"
            @click="loadArticle" :disabled="waiting"
          >
            Reload
          </button>
          <button
            type="button" class="btn btn-primary"
            @click="saveCurrentArticle" :disabled="waiting"
          >
            Save
          </button>
          <span v-if="waiting" class="icono-reset spin"></span>
          <p>
            <div v-if="errorMsg !== null" class="alert alert-danger" v-text="errorMsg"></div>
          </p>
        </form>
        <div class="col-xs-10 full-height">
          <md-editor
            class="full-height"
            v-model="curArticle.source"
            :readonly="waiting"
          ></md-editor>
        </div>
      </div>
    </div>
  </template>

  <template id="templ-md-editor">
    <div class="row">
      <div class="col-xs-6 full-height">
        <textarea
          class="full-height md-textarea"
          :disabled="disabled" :readonly="readonly"
          :value="value" @input="$emit('input', $event.target.value)"
        ></textarea>
      </div>
      <div class="col-xs-6 full-height md-preview" v-html="renderedShown">
      </div>
    </div>
  </template>

  <template id="templ-labeled-input">
    <div :class="['form-group', { 'has-error': hasError }]">
      <label class="control-label" :for="id" v-text="label"></label>
      <input
        class="form-control"
        v-bind="$props" @blur="check" @input="$emit('input', $event.target.value)"
      >
    </div>
  </template>

  <script src="app.js"></script>
</body>

</html>