<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Simple Pages</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  <script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.js"></script>
  <script src="https://cdn.bootcss.com/marked/0.3.12/marked.js"></script>
  <script src="https://cdn.bootcss.com/mustache.js/2.3.0/mustache.js"></script>
  <script src="https://cdn.bootcss.com/github-api/3.0.0/GitHub.bundle.js"></script>
  <script src="gh_blog.js"></script>
</head>

<body>
  <div id="app">
    <login-page v-if="ghBlog === null" @success="loginSuccess"></login-page>
    <main-page v-else :gh-blog-in="ghBlog" class="full-viewport"></main-page>
  </div>

  <template id="templ-login-page">
    <div class="panel panel-default login-panel">
      <div class="panel-body">
        <form>
          <labeled-input
            id="login-username" label="Github username" type="text"
            v-model="username" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="login-password" label="Password" type="password"
            v-model="password" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="login-repo" label="Repository" type="text" placeholder="example.github.io"
            v-model="repo" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <labeled-input
            id="login-branch" label="Branch" type="text"
            v-model="branch" :readonly="logining" @checker="addChecker" nonempty
          ></labeled-input>
          <button
            type="submit" class="btn btn-primary"
            @click.prevent="login" :disabled="logining"
          >
            Login
            <span v-if="logining" class="fa fa-spinner fa-spin"></span>
          </button>
        </form>
        <float-alert
          class="alert-danger" width="25%"
          :show.sync="showErrorMsg" closable
        >
          <span class="fa fa-times-circle"></span>
          {{ errorMsg }}
        </float-alert>
      </div>
    </div>
  </template>

  <template id="templ-main-page">
    <div class="container-fluid">
      <div class="row full-height">
        <nav class="col-xs-2 full-height article-nav">
          <div class="nav-topbar">
            <button
              type="button" class="btn btn-default"
              @click="newArticle" :disabled="saving"
            >
              <span class="fa fa-plus"></span>
            </button>
            <button
              type="button" class="btn btn-primary"
              @click="saveAll" :disabled="saving"
            >
              Save All
              <span v-if="saving" class="fa fa-spinner fa-spin"></span>
            </button>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li
              v-for="article in ghBlog.articles"
              :class="{ active: article === curArticle }"
            >
              <a href="#" @click="selectArticle(article)">
                {{ article.title + '&nbsp;' }}
                <span v-if="article.changed" class="pull-right fa fa-pencil"></span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="col-xs-10 full-height">
          <article-editor
            class="full-height" :article="curArticle" :readonly="saving"
          ></article-editor>
        </div>
      </div>
      <float-alert
        class="alert-success" width="25%"
        :show.sync="showSaveMsg" :duration="2000" closable
      >
        <span class="fa fa-info-circle"></span>
        Saved
      </float-alert>
      <float-alert
        class="alert-danger" width="25%"
        :show.sync="showErrorMsg" closable
      >
        <span class="fa fa-times-circle"></span>
        {{ errorMsg }}
      </float-alert>
    </div>
  </template>

  <template id="templ-article-editor">
    <div class="row">
      <form class="col-xs-2 full-height">
        <labeled-input
          id="article-name" label="Filename" type="text" placeholder="name.html"
          :readonly="readonly || sourceLoading" :disabled="isDisabled"
          v-model="name"
        ></labeled-input>
        <labeled-input
          id="article-title" label="Title" type="text"
          :readonly="readonly || sourceLoading" :disabled="isDisabled"
          v-model="title"
        ></labeled-input>
        <labeled-input
          id="article-pubtime" label="Publish Time" type="text"
          :readonly="readonly || sourceLoading" :disabled="isDisabled"
          v-model="isoPubtime"
        ></labeled-input>
        <labeled-input
          id="article-tags" label="Tags" type="text"
          :readonly="readonly || sourceLoading" :disabled="isDisabled"
          v-model="strTags"
        ></labeled-input>
        <button
          type="button" class="btn btn-default"
          :disabled="isDisabled || sourceLoading || resetDisabled" @click="reset"
        >
          Reset
        </button>
        <span v-if="sourceLoading" class="fa fa-spinner fa-spin"></span>
      </form>
      <div class="col-xs-10 full-height">
        <md-editor
          class="full-height"
          :readonly="readonly" :disabled="isDisabled || sourceLoading"
          v-model="source"
        ></md-editor>
      </div>
    </div>
  </template>

  <template id="templ-md-editor">
    <div class="row">
      <div class="col-xs-6 full-height">
        <textarea
          class="full-height md-textarea"
          v-bind="$props" @input="$emit('input', $event.target.value)"
        ></textarea>
      </div>
      <div class="col-xs-6 full-height md-preview" v-html="renderedShown">
      </div>
    </div>
  </template>

  <template id="templ-labeled-input">
    <div :class="['form-group', { 'has-error': hasError }]">
      <label class="control-label" :for="id" v-text="label"></label>
      <input
        class="form-control"
        v-bind="$props" @blur="check" @input="$emit('input', $event.target.value)"
      >
    </div>
  </template>

  <template id="templ-float-alert">
    <div class="alert float-alert" :style="{ width, right: show ? '' : '-' + width }">
      <a v-if="closable" href="#" class="alert-link" @click="closable && close()">
        <span class="fa fa-times pull-right"></span>
      </a>
      <div :class="['float-alert-inner', {'float-alert-inner-margin': closable }]">
        <slot></slot>
      </div>
    </div>
  </template>

  <script src="app.js"></script>
</body>

</html>