<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Simple Pages</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
  <script src="https://cdn.bootcss.com/vee-validate/2.0.3/vee-validate.js"></script>
  <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
  <script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.js"></script>
  <script src="https://cdn.bootcss.com/marked/0.3.12/marked.js"></script>
  <script src="https://cdn.bootcss.com/mustache.js/2.3.0/mustache.js"></script>
  <script src="https://cdn.bootcss.com/github-api/3.0.0/GitHub.bundle.js"></script>
  <script src="gh_blog.js"></script>
</head>

<body>
  <div id="app">
    <login-page
      v-if="ghBlog === null"
      :login-info.sync="loginInfo" @success="loginSuccess"
    ></login-page>
    <main-page
      v-else class="full-viewport"
      :login-info.sync="loginInfo" :gh-blog-in="ghBlog"
    ></main-page>
  </div>

  <template id="templ-login-page">
    <div class="panel panel-default login-panel">
      <div class="panel-body">
        <form @submit.prevent="onSubmit">
          <div :class="['form-group', { 'has-error': errors.has('username') }]">
            <label class="control-label">
              Github Username
            </label>
            <input
              name="username" type="text" class="form-control" ref="username"
              v-model="loginInfo.username" v-validate="'required'" :readonly="logining"
            >
          </div>
          <div :class="['form-group', { 'has-error': errors.has('password') }]">
            <label class="control-label">Password</label>
            <input
              name="password" type="password" class="form-control" ref="password"
              v-model="password" v-validate="'required'" :readonly="logining"
            >
          </div>
          <div :class="['form-group', { 'has-error': errors.has('repo') }]">
            <label class="control-label">Repository</label>
            <input
              name="repo" type="text" class="form-control"
              v-model="loginInfo.repo" v-validate="'required'" :readonly="logining"
            >
          </div>
          <div :class="['form-group', { 'has-error': errors.has('branch') }]">
            <label class="control-label">Branch</label>
            <input
              name="branch" type="text" class="form-control"
              v-model="loginInfo.branch" v-validate="'required'" :readonly="logining"
            >
          </div>
          <button type="submit" class="btn btn-primary" :disabled="logining">
            Login
            <span v-if="logining" class="fa fa-spinner fa-spin"></span>
          </button>
        </form>
        <float-alert
          class="alert-danger" width="25%"
          :show.sync="showErrorMsg" closable
        >
          <span class="fa fa-times-circle"></span>
          {{ errorMsg }}
        </float-alert>
      </div>
    </div>
  </template>

  <template id="templ-main-page">
    <div class="container-fluid">
      <div class="row full-height">
        <nav class="col-xs-2 full-height article-nav">
          <div class="nav-topbar">
            <button
              type="button" class="btn btn-default"
              @click="newArticle" :disabled="saving"
            >
              <span class="fa fa-plus"></span>
            </button>
            <button
              type="button" class="btn btn-primary"
              @click="saveAll" :disabled="saving"
            >
              Save All
              <span v-if="saving" class="fa fa-spinner fa-spin"></span>
            </button>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li
              v-for="article in curIndex"
              :class="{ active: article === curArticle }"
            >
              <a href="#" @click="selectArticle(article)">
                {{ article.title + '&nbsp;' }}
                <span v-if="article.modified" class="pull-right fa fa-pencil"></span>
                <span v-if="!article.lastVersion" class="pull-right fa fa-asterisk"></span>
                <span
                  v-if="!checkInfo(article)"
                  class="pull-right fa fa-exclamation-triangle"
                ></span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="col-xs-10 full-height">
          <article-editor
            class="full-height" :article="curArticle" :readonly="saving"
          ></article-editor>
        </div>
      </div>
      <float-alert
        class="alert-success" width="25%"
        :show.sync="showSaveMsg" :duration="2000" closable
      >
        <span class="fa fa-info-circle"></span>
        Saved
      </float-alert>
      <float-alert
        class="alert-danger" width="25%"
        :show.sync="showErrorMsg" closable
      >
        <span class="fa fa-times-circle"></span>
        {{ errorMsg }}
      </float-alert>
    </div>
  </template>

  <template id="templ-article-editor">
    <div class="row">
      <form class="col-xs-2 full-height" @reset.prevent="reset">
        <div :class="['form-group', { 'has-error': errors.has('name') }]">
          <label class="control-label">Filename</label>
          <input
            name="name" type="text" class="form-control"
            :readonly="readonly || sourceLoading" :disabled="isDisabled"
            v-model="name" v-validate="'required'"
          >
        </div>
        <div :class="['form-group', { 'has-error': errors.has('title') }]">
          <label class="control-label">Title</label>
          <input
            name="title" type="text" class="form-control"
            :readonly="readonly || sourceLoading" :disabled="isDisabled"
            v-model="title" v-validate="'required'"
          >
        </div>
        <div :class="['form-group', { 'has-error': errors.has('pubtime') }]">
          <label class="control-label">Publish time(ISO)</label>
          <input
            name="pubtime" type="text" class="form-control"
            :readonly="readonly || sourceLoading" :disabled="isDisabled"
            v-model="isoPubtime" v-validate="'required'"
          >
        </div>
        <div :class="['form-group', { 'has-error': errors.has('tags') }]">
          <label class="control-label">Tags</label>
          <input
            name="tags" type="text" class="form-control"
            :readonly="readonly || sourceLoading" :disabled="isDisabled"
            v-model="strTags"
          >
        </div>
        <button
          type="reset" class="btn btn-default"
          :disabled="isDisabled || sourceLoading || resetDisabled"
        >
          Reset
        </button>
        <span v-if="sourceLoading" class="fa fa-spinner fa-spin"></span>
      </form>
      <div class="col-xs-10 full-height">
        <md-editor
          class="full-height"
          :readonly="readonly" :disabled="isDisabled || sourceLoading"
          v-model="source"
        ></md-editor>
      </div>
    </div>
  </template>

  <template id="templ-md-editor">
    <div class="row">
      <div class="col-xs-6 full-height">
        <textarea
          class="full-height md-textarea"
          v-bind="$props" @input="$emit('input', $event.target.value)"
        ></textarea>
      </div>
      <div class="col-xs-6 full-height md-preview" v-html="renderedShown">
      </div>
    </div>
  </template>

  <template id="templ-float-alert">
    <div class="alert float-alert" :style="{ width, right: show ? '' : '-' + width }">
      <a v-if="closable" href="#" class="alert-link" @click="closable && close()">
        <span class="fa fa-times pull-right"></span>
      </a>
      <div :class="['float-alert-inner', {'float-alert-inner-margin': closable }]">
        <slot></slot>
      </div>
    </div>
  </template>

  <script src="app.js"></script>
</body>

</html>